@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --darker-blue: #121826;
  --dark-blue: #212936;
  --grey: #9da3ae;
  --grey-white: #d2d5da;
  --white: #e5e7eb;
  --light-blue: #dee9fc;
  --light-orange: #fbe5e6;
  --light-yellow: #fceed8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

body {
  min-height: 100vh;
  background-color: var(--darker-blue);
  background-image: url("./resources/Background_image.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @media screen and (width>768px) {
    background-image: url("./resources/Background_image@2x.png");
  }
  @media screen and (width>1200px) {
    background-image: url("./resources/Background_image@3x.png");
  }
}

header {
  display: block;
  width: min(75%, 400px);
  text-align: center;

  font-weight: 600;
}
h1 {
  color: var(--white);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.text {
  color: var(--grey);
}

/* .cards {
  display: grid;

  gap: 2rem;
  grid-template-columns: repeat(1, 330px);
  
 
  

  @media screen and (width>768px) {
    grid-template-columns: repeat(2, 330px);
    justify-items: center;
    gap: 2.5rem;
   place-content: center;
  }
  @media screen and (width>1200px) {
    gap: 3rem;
    grid-template-columns: repeat(3, 330px);
  } 
} */

.cards {
  display: grid;
  gap: 1.5rem;
  width: min(90%, 1440px);
  margin: 0 auto;
  grid-template-columns: repeat(1, 340px);
  justify-content: center;

  @media screen and (width>=1100px) {
    grid-template-columns: repeat(3, 340px);
    gap: 2.5rem;
  }
}
@media screen and (min-width: 768px) and (width<1100px) {
  .cards {
    grid-template-columns: repeat(2, 340px);
    gap: 2rem;
  }

  .card:nth-child(3):last-child {
    grid-column: 1 / -1;
    width: 340px;
    justify-self: center;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: var(--dark-blue);
  padding: 1.5rem;
  justify-content: space-between;
  border-radius: 1rem;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.card-title {
  color: var(--grey-white);
  font-weight: 600;
  font-size: 1.25rem;
}

.card-img {
  max-width: 100%;
  height: auto;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}
.card:nth-of-type(1) .icon {
  background-color: var(--light-yellow);
}
.card:nth-of-type(2) .icon {
  background-color: var(--light-blue);
}
.card:nth-of-type(3) .icon {
  background-color: var(--light-orange);
}
